<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reconocimiento de lenguaje de signos en tiempo real</title>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='resources/slt_icon.ico') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainPage.css') }}">
	</head>
	<body>
		<section>
            <div class="title">
                <span>
                    Reconocimiento de lenguaje de signos
                </span>
                <span>
                    En tiempo real
                    <a>Víctor Vallés</a>
                </span>
            </div>
            <div class="containerButtons">
                <div class="button_container">
                    <div class="button_su">
                        <span class="su_button_circle"></span>
                        <a id="clickBtnRecollect" class="button_su_inner">
                            <span class="button_text_container">
                                GUARDAR SIGNOS
                            </span>
                        </a>
                    </div>
                </div>
                <div class="button_container">
                    <div class="button_su">
                        <span class="su_button_circle"></span>
                        <a id="clickBtnTrain" class="button_su_inner">
                            <span class="button_text_container">
                                PRACTICAR
                            </span>
                        </a>
                    </div>
                </div>
                <div class="button_container">
                    <div class="button_su">
                        <span class="su_button_circle"></span>
                        <a id="clickBtnStart" class="button_su_inner">
                            <span class="button_text_container">
                                EMPEZAR
                            </span>
                        </a>
                    </div>
                </div>
                <div id="popup">
                    <div class="popup-container">
                        <div id="popUpContainer" class="popup">
                            <div class="close-popup" id="closeBtn"><a href="#">X</a></div>
                            <h2>Permite el acceso a tu cámara</h2>
                            <p>
                                Al hacer clic en Aceptar, estás permitiendo el uso de la cámara de tu ordenador.
                                Esto es necesario para poder utilizar ciertas funciones de la página web.
                                Si no deseas utilizar la cámara, puedes cerrar la ventana.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
		</section>
        <script src="{{ url_for('static',filename='js/mainPage.js') }}"></script>
	</body>
</html>