<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reconocimiento de lenguaje de signos en tiempo real</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='resources/slt_icon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/start.css') }}">
</head>
<body>
<section>
    <div id="frame">
        <img src="{{ url_for('result') }}"/>
    </div>
</section>
</body>
</html>