/********************************************
**************RECOLLECTDATA PAGE*************
*********************************************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

section {
    background-color: #1b1b1b;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#containerSelectUser{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textSelectLetter{
    color: white;
}

select {
    width: 400px;
    max-width: 100%;
    cursor: pointer;
    padding: 15px 25px;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-radius: 12px;
    color: #444;
    font-size: 18px;
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.10);
}

select option {
    padding: 10px 20px;
    margin-bottom: 8px;
    border-radius: 12px;
    background-color: rgb(238, 238, 238);
    white-space: pre-wrap;
    cursor: pointer;
}

select option:hover {
    background-color: rgb(223, 223, 223);
}

select option:checked {
    box-shadow: 0 0 10px 100px #595959 inset;
}

/********** scrollbar *********/
select::-webkit-scrollbar {
    width: 10px;
}

select::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

select::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #e6e6e6 0%, #c2c2c2 100%);
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

/********** buttonSave *********/
.saveData {
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #f8b62759;
    color: black;
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
    transition: .2s all ease-in;
    display: flex;
    justify-content: center;
    margin: 15px 40%;
}

.saveData:hover {
    background-color: #F8B627;
    color: #fff;
    transform: scale(1.1, 1.1);
}

.saveData:active {
    transform: scale(1.2, 1.2);
}

select option[value="messageSelect"] {
    background: none;
    cursor: auto;
}

.errorMessage{
    display: none;
    color: red;
}


/********************************************
****************POPUP********************
*********************************************/

#popupSaveData {
    display: none;
}

.popup-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.popup {
    background-color: #ffffff;
    padding: 20px 30px;
    width: 40%;
    border-radius: 15px;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup > h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.popup > p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.popup-btn {
    text-decoration: none;
    border: 3px solid #f8b62759;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    transition: .2s all ease-in;
    display: flex;
    justify-content: center;
    margin: 15px 40%;
}

.popup-btn:hover {
    background-color: #F8B627;
    color: #fff;
    transform: scale(1.1, 1.1);
}

.popup-btn:active {
    transform: scale(1.2, 1.2);
}

.counter3Seconds{
    color: red;
    font-size: xxx-large;
    margin: 10px;
}

.textSaveData{
    justify-content: center;
    display: none;
}